## Visual Studio template ignore rules
.vs/
[Db]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## SQL Server files
*.mdf
*.ldf
*.sdf

## Package files
node_modules/
jspm_packages/
.pnp/

## Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini
