

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="Footer.css">
</head>
<script>
   
</script>
<body>
<footer>
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-logo">
        <h2><img src="aitlogofooter.png" alt=""></h2>
        <i><b><p>AIT Academy of Information Technology is the leading career development company which has more than 23+ years of experience...</p></b></i>
        <i><b><p>We helped students to chart their career journey with a good beginning in the industry.</p></b></i>
      </div>

      <div class="footer-links">
        <div class="footer-column quick-links">
          <b><p>Quick links</p></b>
          <ul>
            <i><li><a href="https://aitaurangabad.com/">Home</a></li></i>
            <i><li><a href="https://aitaurangabad.com/AboutUs.html">About Us</a></li></i>
            <i><li><a href="#">Training</a></li></i>
            <i><li><a href="#">Online Training</a></li></i>
            <i><li><a href="#">Corporate Training</a></li></i>
            <i><li><a href="https://aitaurangabad.com/ContactUS2.aspx">Contact Us</a></li></i>
          </ul>
        </div>
        <div class="footer-column">
          <b><p>Contact</p></b>
          <ul>
            <i><li><a href="https://aitaurangabad.com/Inquiry3.aspx#">+91 9890579628</a></li></i>

            <i><li><a href="mailto:info@aitaurangabad.com">info@aitaurangabad.com</a></li></i>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-social">
      <ul>
        <li><a href="https://www.facebook.com/profile.php?id=61553413495331&mibextid=JRoKGi"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/a.i.t.aurangabad/?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-instagram"></i></a></li> <!-- Added Instagram -->
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li> <!-- Added LinkedIn -->
        <li><a href="#"><i class="fas fa-envelope"></i></a></li> <!-- Added Email -->
      </ul>
    </div>

    <div class="footer-bottom">
      <i><p>&copy; Copyright. All rights reserved.</p></i>
    </div>
  </div>
</footer>
</body>
</html>